body{
    background-color: rgba(241, 147, 250, 0.782);
}

h1{
display: flex;

justify-content: center;
align-items: center;
}

.texto{
display: flex;
flex-direction: column;
font: 1rem serif;
font-size: 20px;
}

button{
width: 300px;
height: 40px;
font: bold 1rem serif;
background: rgb(228, 142, 247);
color: rgb(0, 0, 0);
outline: none;
border-radius: 5px;
cursor: pointer;
}

.calculadora{


align-items: center;
}